body{
    margin: 0px;
    padding: 0px;
    background-color: hsl(218, 28%, 13%);
    }
    
    #logo{
        display: inline;
        position: absolute;
        padding-left: 50px;
        padding-top: 40px;
        background-color: hsl(217, 28%, 15%);
    }

    .navi{
        display: flex;
        justify-content: flex-end;
        gap:15px;
        padding-right: 50px;
        padding-top: 40px;
        color: white;
        background-color: hsl(217, 28%, 15%);
    }

    .navis:hover{
        text-decoration:underline;
    }
    
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: hsl(217, 28%, 15%);
        padding-bottom:200px;  
    }
    
    .titu{
        z-index: 2;
        padding-left: 480px;
        padding-right: 480px;
        text-align: center;
        color: white;
    }
    
    .subti{
        z-index: 2;
        padding-left: 320px;
        padding-right: 320px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
        color: white;
    }
    
    .subti1{
        z-index: 2;
        padding-left: 500px;
        padding-right: 500px;
        margin-top: 0px;
        margin-bottom: 10px;
        text-align: center;
        color: white;
    }
    
    .primbtn{
        z-index: 2;
        color: white;
        background-image: linear-gradient(to right,hsl(176, 68%, 64%),hsl(198, 60%, 50%));
        border-radius: 15px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
    }

    .primbtn:hover{
        background-color: #2BD1D1;
        opacity: 90%;
     }
    
    
    .fondo{
       position: absolute;
       top:640px;
    }
    
    #fondito{
       width: 100%;
       height: 500px;
       transform:scale(1);
    }
    
    .productos{
       display: grid;
       gap:70px;
       column-gap:100px;;
       grid-template-columns: repeat(2,300px);
       justify-content: center;
       text-align: center;
       color: white;
       align-items: center;
         

    }
    
    .produ{
            z-index: 2;
            
        }
    

/*Segunda parte*/





    .stay{
        display: grid;
        grid-template-columns: 50fr 50fr;
        color: white;
        padding-top: 10%;
        padding-bottom: 7%;
        /* font-family: 'Open Sans', sans-serif; */
        align-items: center;
        
        
    }
   

    .stay img{
        padding: 0px 50px 0px 100px ;
        
    }

    .contInf{
        padding-left: 10px;
        padding-right: 70px;              
    }   

    #link:hover{
        color: white;       
    }
    
    .liga:hover{
        color: white;
    }
    

    a{
        color:aquamarine;
        text-decoration: none;
          }
        
    

    .liga{
        align-items: center;
        display: flex;
        gap: 10px;
        text-decoration: underline;
        color:aquamarine;
    }

    circle:hover {
        fill: white;
      }

      
    .comentarios{
        background-color: hsl(218, 28%, 13%);
        /* margin-right: 205px;
        padding-right: 50px;
         */
       
    }

    .cont2{
        display: grid;
        grid-template-columns: 10fr 10fr 10fr;
        color: white;
        justify-items: center;
        padding-left: 5%;
        margin-top: 5%;
        margin-bottom: 25%;
        
    }

    .cont2 img {
        border-radius: 100px;
        width: 35px;
        height: 35px;
        
    }

    .casilla{
        display: flex;
        flex-direction: column;
        width: 65%;
        
        background-color: hsl(219, 30%, 18%);
        padding: 15px 30px ;
        
        /* font-size: 10px; */
        z-index: 2;
        
    }
    
    #quote{
        margin-left: 90px;
        position: absolute;
        top: 2265px;

    }


    
    .perfil{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        
    }

    .name{
       margin-top: 0px;
       margin-bottom: 0px;


    }

    .cargo{
        margin-top: 0px;
       margin-bottom: 0px;
       font-size: 11px;
    }
   
    
   
    
    .cajaGet{
        
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 5%;
        
        border-radius: 10px;
        text-align: center;
        padding: 10px 0px 30px 0px ;
        margin: 0 auto;

        margin-bottom: 20px;
        color: white;

        /* Segun para poner lo encima de otro*/
        position: absolute;
        z-index:2; 
        left: 50%;
        transform: translateX(-50%) translateY(50%);
    }
    .textcaja{
        background-color: hsl(219, 30%, 18%);
        padding: 0px 20px 25px 20px;
        position: absolute;
        bottom:1px;

    }
   

    .textcaja p{
        padding: 0px 105px 0px 105px;
    }

    .cajaGet input{
        height: 30%;
        width: 60%;
        border-radius: 20px;
        margin-right: 20px;  
        padding-bottom: 10px;
        padding-top: 10px;
    }


    .cajaGet button{
        color: white;
        height: 30%;
        width: 20%;
        border-radius: 20px;
        background-image: linear-gradient(to right,hsl(176, 68%, 64%),hsl(198, 60%, 50%));
        /* &:hover{  
            background-color: hsl(180, 66%, 49%, 0.5) ;
        }   */
    }

    #btndos{
        width: 160px;
        padding-top: 10px;
        padding-bottom:10px;
        
    }


    #btndos:hover{
       background-color: #2BD1D1;
       opacity: 80%;
    }

    footer{
        
        background-color: hsl(216, 53%, 9%);        
        color: white;
        padding-top: 20%;
        padding-left: 5%;
        padding-bottom: 5%;
        position: relative;
        
    }

    .foot{
        display: grid;
        grid-template-columns: 20fr 25fr 10fr 10fr 15fr;
        margin-top: 10px;
        margin-left: 1%;
        margin-bottom: 50px;
    }

    .ubica{
        display: grid;
        grid-template-columns: 1fr 6fr;
        
    }

    .ubica img{
        margin-top: 20px;
    }

    .contac{
        /* display: flex;
        flex-direction: column;
        margin-left: 30%; */

        display: grid;
        grid-template-columns: 0fr 6fr;
        
        margin-left: 40%;
        
    }
    
    .contac img{
        margin-top: 20px;
        margin-left: -150%;
    }

    .about{
     margin-left: 30px;
     
    }
    .about ul{
        list-style-type: none; /* Elimina las viñetas de la lista */
    }

    .contac2{
        margin-left: 5%;
        
    }
    .contac2 ul{
        list-style-type: none; /* Elimina las viñetas de la lista */
    }

    .iconosredes{
        display: grid;
        grid-template-columns: 35fr 35fr 35fr;

        height: 50%;
        width: 50%;
        margin-left: 30px;
        margin-top: 10px;
        gap:10px;
       
    }

    .redecita path:hover {
        fill: aquamarine;
      }

   