
body{
    display: flex;
    justify-content: center;
    
}

/* hsl(217, 28%, 15%)*/


.contenido{
    background-color:  hsl(218, 28%, 13%);
    width: 1440px;
    }

    #logo{
        display: inline;
        position: absolute;
        margin-left: 45px;
        
    }

    .navi{
        display: flex;
        justify-content: flex-end;
        gap:20px;
        margin-right: 20px;;
        color:white;
        margin-top: 30px;
    }



